<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="page-header">
        <h1>Top 10 人氣餐廳</h1>
      </div>
    </div>

    <% @top10_restaurant.each do |restaurant| %>
      <div class="ranking-item">
        <div class="col-md-3">
          <%= image_tag restaurant.image, class: "img-responsive center-block" %>
        </div>
        <div class="col-md-9">
          <h2><%= restaurant.name %>
              <span class="label label-default">收藏數：<%= restaurant.favorites_count %></span>
          </h2>
          <p><%= truncate(restaurant.description, length: 200) %></p>
          <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
          <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>

  </div>
</div>